@model List<HelloMVC.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

		<h4>Products:</h4>
		<ul>
			

			@*@foreach (HelloMVC.Models.Product product in Model)
			{
				<li>
					@product.Name
				</li>
			}*@
			
		</ul>
		
		<table>
			<tr>@*satır*@
				<td>Id</td> @*sütun*@
				<td>Name</td>
				<td>Price</td>
				<td>Stock</td>
			</tr>
			@foreach (HelloMVC.Models.Product product in Model)
			{
				<tr>
					<td>@product.Id</td>
					<td>@product.Name</td>
					<td>@product.Price</td>
					<td>@product.Stock</td>

				</tr>
				
			}

		</table>

	</div>
</body>
</html>
